language: python
matrix:
  include: 
  - os: linux
    dist: xenial
    sudo: required
    language: python
    python: '3.5'
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
          - sourceline: 'ppa:zhaofeng-shu33/liblemon'
          - sourceline: 'ppa:zhaofeng-shu33/gtest'
        packages:
          - g++-6
          - liblemon-dev
          - liblemon1.3.1
          - libgtest-dev_1.7.0-4ubuntu3
    cache:
      - directories:
        - /usr/src/gtest
      - pip3
  #- os: osx
    
before_install:
  #- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install gsl boost-python; fi 
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install libboost-all-dev; fi
  # build and install gtest library manually  
  - mkdir build
  - cd build
  - cmake -DENABLE_TESTING=ON -DUSE_PYTHON=ON -DUSE_LEMON=ON -DCMAKE_CXX_COMPILER=g++-6 -DUSE_BOOST_OPTION=ON -DCMAKE_BUILD_TYPE=Release ../ 
install:
  - make
  - cd ..
  - python -c "import pathlib" 2>/dev/null || python -m pip install pathlib
  - python setup.py install
  - python -c "import networkx" 2>/dev/null || python -m pip install -r ./info_cluster/requirement.txt
  - python -c "import codecov" 2>/dev/null || python -m pip install codecov  
script:
# used for testing
  - cd build
  - test/TestAll
  - test/test_pmf
  - set/test_set
  - python -c "from info_cluster import psp;print(psp.__version__)"
  - python -c "from info_cluster import InfoCluster"
  - coverage run ../test/python/graph_cut_py_test.py
  - codecov
